# first line is to install regtech package in editable (i.e. -e) mode
-e .
pandas
numpy
gensim==3.8.3
grpcio
sqlalchemy
pyyaml
psycopg2-binary
torch==1.5.1
torchtext==0.6.0
regex
nltk
dask[complete]
pylint
yapf
networkx
matplotlib
html5lib
openpyxl
rope
xlrd
bs4
sklearn
ipykernel
skorch==0.8.0
dask-ml
tensorboard
pytest
lxml
google-cloud-storage
google-cloud-datalabeling
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
dask_cuda
allennlp==1.0.0 
allennlp-models==1.0.0
roman
selenium
flask
gunicorn
locust
h5py
fuzzywuzzy
python-Levenshtein
xlsxwriter
joblib
webdriver_manager
fsspec>=0.8.0
gcsfs
pdfminer.six
pypdf2
graphviz
seaborn
pycocotools-fix
google-cloud-bigquery
readability-lxml
mmcv-full==1.0.5
torchvision==0.6.1
mmdet==2.3.0
mmpycocotools==12.0.3
fake_useragent