# first line is to install kg package in editable (i.e. -e) mode
-e .
jupyterlab
yapf
requests
pandas
pytest
scikit-learn
torch
torchtext
pyyaml
nltk
networkx
matplotlib
sentence-transformers
spacy
allennlp==2.1.0
allennlp-models==2.1.0
beautifulsoup4